      div.tab {
       float: none;
     }
      div.tab button {
       float: none;
        padding: 20px;
        font-size: larger;
        border-radius: 20px;
      }
        .scorers, .standings {
            width: 90%;
        }
        table {
            width: 100%;
            border-collapse: separate;
            margin-top: 10px;
            border-radius: 20px;
            overflow: hidden;
            border-spacing: 0;
        }

        .data-n, .data-m {
            text-align: center;
        }

        .data-n {
            background-color: #0D1440;
            color: #fff;
            padding: 15px;
        }

        tr:nth-child(even) {
            background-color: #0D1440;
        }
        tr {
    background-color: rgb(13 20 64 / 0.3);
}
        .team-name img {
            width: 33px;
            height: 33px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
			margin-right: 10px;
            border-radius: 50%;
        }
        .team-name {
			position: relative;
            text-align: right;
        }
        .data-m {
            background-color: transparent;
            vertical-align: middle;
        }
      .standings tbody tr:nth-last-child(-n+3) td {
    background-color: rgba(255, 0, 0, 0.1);
}
.standings tbody tr:nth-child(-n+3) td, .scorers tbody tr:nth-child(-n+3) td {
    background-color: rgba(0, 255, 0, 0.1);
}
@media screen and (max-width: 768px) {
    .data-n.mob-h, .data-m.mob-h {
        display: none;
    }
}
      @media screen and (max-width: 480px) {
div.tab .tablinks {
    width: auto !important;
  }
div.tab {
    width: auto !important;
        }
}
